/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: 'Roboto', sans-serif;
  font-family: 'Lora', serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

/* BACKGROUND IMAGE */
body {
  width: 100%;
  padding-top: 0px;
}

wrapper {
  width:90%;
  margin: 0 auto;
  clear: both;
}


h1 {
  color: black;
  font-size: 3.5vh;
  font-family: Roboto;
  font-weight: 400;
}

h2 {
  color: black;
  font-size: 6vh;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  color: grey;
  font-size: 6vh;
  font-family: Roboto;
  font-weight: 400;
}

p {
  color: black;
  font-size: 16px;
}

ul {
  list-style: none;
  margin-top: 30px;
}

li {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* NAVIGATION */

.navbar {
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
  height: 10vh;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: auto auto auto 5vh;
}

.logo {
  display: flex;
  flex: 1 1 auto;
  margin: auto auto auto 5vh;
  text-decoration: none;
}

.logo p {
  color: black;
  font-size: 4.5vh;
  font-family: Lora;
  font-weight: bold;

}

.nav ul {
  width: 50%;
}

.nav li {
    margin: auto 7vh auto auto;
}

.nav li a {
  text-decoration: none;
  font-size: 3vh;
  font-family: Roboto;
  color: black;
}

.logo p:hover {
  color: #FF680C;
}

.nav li a:hover {
  color: #FF680C;
}



/*Landing */
.landing-area {
}

.landing-area .landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: black;
  padding-top: 5vh;
}

.landing-area .landing p {
  width: 70%;
  margin: auto;
  font-size: 8vh;
  font-family: Roboto;
  font-weight: 300;
  color: white;
}

/*Padding for About and Work*/
/*Left top padding at 0 because the nav accounts for the padding and heading is in the middle of the screen*/
.about-area, .work-area, .skills-area, .contact-area {
  padding: 0 100px 0 100px;

}

/*-------- WORK --------*/
.work-area {
  padding-top: 25vh;

}

/*-------- image container, change the width % to change image size, adjust padding between image and Recent Projects heading with bottom-padding --------*/
.work-area .work-heading {
  width: 80%;
  margin: 3em auto 0 auto;
  text-justify: inter-word;
  padding-bottom: 15vh;
}

/*-------- image container, change the width % to change image size --------*/
.container {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 1em;
}

/*-------- image fills the container --------*/
.image {
  display: block;
  width: 100%;
  height: auto;
}

/*-------- overlay, use rgba values to get the transparent overlay --------*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(36, 36, 36, 0.4)
}

/*-------- hover --------*/
.container:hover .overlay {
  opacity: 1;
}

/*-------- large text --------*/
.text {
  color: white;
  font-size: 7vh;
  font-family: Roboto;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2%;
  margin-bottom: 2%;

}

/*-------- description text --------*/
.text p {
  color: white;
  font-size: 3vh;
  font-weight: 300;
  font-family: Roboto;
}

/*-------- SKILLS --------*/
.skills-area {
  padding-top: 50vh;
}


/*-------- image container, change the width % to change image size, adjust padding between image and Recent Projects heading with bottom-padding --------*/
.skills-area .skills-heading {
  width: 80%;
  margin: 3em auto 0 auto;
  text-justify: inter-word;
  padding-bottom: 25vh;
}

/*-------- About --------*/
.about-area {
  padding-top: 25vh;
}

.about-area .aboutme {
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
  margin: 3em auto 3em auto;
}

.about-area .aboutme h1 {

}

.about-area .aboutme p {
  margin-bottom: 22px;
  font-size: 3vh;
  font-weight: 300;
  line-height: 1.5;
  color: #5E5E5E;
  font-family: Roboto;
}

/* Changes the highlight colour of the email text*/
.about-area .aboutme a{
  color: #FF680C;
  text-decoration: underline;
}


/* CONTACT */
.contact-area {
  padding-top: 25vh;
}

.contact-area .contact {
  margin: 15em auto 15em auto;
  text-align: center;
  width: 75%;
}

.contact-area .contact p{
  width: 75%;
  margin: 0 auto 0 auto;
  font-size: 24px;
}


/*-------- CONTACT AREA --------*/
/* Changes the highlight colour of the email text*/
.contact-area .contact a{
  color: #FF680C;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  margin: 5px 0 20px 0;
}

footer p {
  color: #5E5E5E;
  font-family: Roboto;
  font-size: 12px;
}

/* responsive */
@media only screen and (max-width: 991px) {
  .about-area, .work-area, .contact-area {
    margin: auto;
  }

  .container {
    width: 100%;
}

  .image {
    width: 100%;
    margin: auto;
  }
}

.logo p:hover {
  color: black;
}

.nav li a:hover {
  color: black;
}

@media only screen and (max-width: 768px) {

  .logo {
    margin: 0px 0px 0px 12px;
  }

  .landing-area .landing p {
    width: 60%;
    margin: 30px auto 100px auto;
  }

  .about-area, .work-area, .contact-area {
    padding: 0px 5%;
    margin: auto;
  }

  .about-area .aboutme {
    width: 100%;
  }

  .container {
    width: 100%;
}

  .image {
    width: 100%;
    margin: auto;
  }

  .nav li a {
    text-decoration: none;
    font-size: 0px;
  }

  .logo p:hover {
    color: black;
  }
}
